.appLayout{
    min-height: 100vh;
    display: flex;
    background: #4a4a4a;
  }
  .sbList{
    display: flex;
    flex-direction: column;
  }
  
  
  .appPage{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
  